{% load i18n %}

{% blocktrans %}Вы получили это письмо, потому что был сделан запрос на сброс пароля для вашей учётной записи на сайте {{ site_name }}.{% endblocktrans %}

{% blocktrans %}Пожалуйста, перейдите по следующей ссылке и выберите новый пароль:{% endblocktrans %}
{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}

{% blocktrans %}Ваш логин, если вы его забыли: {{ user.get_username }}{% endblocktrans %}

{% trans "Спасибо за использование нашего сайта!" %}

{% blocktrans %}Команда {{ site_name }}{% endblocktrans %}
